<!doctype html> 
<html lang="en"> 
	<head> 
	<!-- Required meta tags --> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
 
		<!-- Bootstrap CSS --> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
		<link rel="stylesheet" href="/css/styles2.css">  
 
		<title>Spazzatura</title> 
	</head> 
	<body>

	 <div class="container-custom">

		<h1 class="display-3">Spazzatura</h1>
			
		<a class="card-btn v2" id="HUB" aria-label="MyHUB" target="_blank">
			<div class="card-media" style="background-image:url('images/img0.png')"></div>
			<div class="card-overlay"></div>
			<div class="card-content">
			  <div class="texts">
				<div class="label">HUB</div>
			  </div>
			</div>
		</a>



	  	<hr />

    <hr style="border-color: rgba(255,255,255,0.1);" />



    <main>
        {{{body}}}
    </main>

    <hr />
		<div class="cs-footer">Brought to you by <a href="mailto:kumacod3@proton.me" target="_blank">KumaCod3</a><img src="/images/logo.png" height="40px" class="rounded" /></div>
	  </div>
		
		<script>
		  const porta = 7777;

		  function go() {
			const host = window.location.hostname;
			const protocol = window.location.protocol === "https:" ? "https:" : "http:";
			const pagina = "/pag.html";
			const url = `${protocol}//${host}:${porta}${pagina}`;
			const elemento = document.getElementById("HUB");
			if (elemento) elemento.href = url;
		  }

		  if (document.readyState === "loading") {
			document.addEventListener("DOMContentLoaded", go);
		  } else {
			go();
		  }
		</script>

	</body> 
</html>